.background_sign_up_form {
  background: #ccc;
  border-radius: 25px;
}

.patties_back {
  background: url('https://i.pinimg.com/originals/a1/fb/e6/a1fbe6714b564e64c4af36bdda04c3ce.jpg');
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

[data-theme='night'] .clr {
  color: #fff;
  background-color: #000;
  border-radius: 0.3rem;
  padding: 5px;
}

[data-theme='retro'] .clr {
  color: #000;
}
