.background_sign_in_form {
  background: #ccc;
  border-radius: 25px;
}

/* .patties_back {
  background: url('https://i.pinimg.com/originals/a1/fb/e6/a1fbe6714b564e64c4af36bdda04c3ce.jpg');
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
} */

.pad {
  padding: 10px 30px;
}

/* cheeckbox */

input[type='checkbox'] {
  height: 50px;
}

/* input checkmark */

.input_customized {
  display: block;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  position: absolute;

  /* top: 0; */

  height: 25px;
  width: 25px;
  background-color: #eee;
}

.input_customized:hover {
  background-color: rgb(226, 225, 225);
}

/* Hide the browser's default checkbox */
.input_customized input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.input_customized span.m-3 {
  position: relative;
  bottom: 5px;
}

/* On mouse-over, add a grey background color */
.input_customized:hover input ~ .checkmark {
  background-color: #000;
}

/* When the checkbox is checked, add a blue background */
.input_customized input:checked ~ .checkmark {
  background-color: #008cff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.input_customized .checkmark::after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.input_customized input:checked ~ .checkmark::after {
  display: block;
}

@media (width <=500px) {
  .background_sign_in_form {
    padding: 50px !important;
  }

  .background_sign_in_form h1 {
    font-size: 10.7px !important;
  }

  .input_customized {
    height: 22px;
  }

  .mobile_checkbox_content {
    position: relative;
    bottom: 7px;
    padding: 5px;
    font-size: 18px;
  }

  .mobile_checkbox_content span {
    display: none;
  }
}
