/* [data-theme='night'] h1 {
  color: #fff !important;
} */

.wrapper {
  background: grey;
  padding: 200px;
  border-radius: 1rem;
}

[data-theme='night'] .wrapper {
  background: rgb(223, 217, 217) !important;
}

.linkedMenuBtns {
  margin: 0.5rem;
}

/* responsive design */

@media (width <=500px) {
  .mobile_responsive_home_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile_responsive_home_page .wrapper {
    padding: 10px;
  }

  .mobile_responsive_home_page .wrapper h1 {
    font-size: 30px;
  }

  .mode {
    margin: 5px;
  }

  .linkedMenuBtns {
    margin: 1px;
    padding: 0;
  }

  .mobile_menu_btn {
    margin: 0;
    padding: 10px;
  }
}
