[data-theme='night'] .NIGHT {
  background-color: #fff !important;
}

[data-theme='night'] .BLBL {
  color: #fff !important;
}

[data-theme='night'] .BLB {
  color: #000 !important;
}

[data-theme='night'] .WHWH {
  background-color: #fff !important;
}

@media (width <=500px) {
  .mobile_conformation {
    display: block !important;
  }

  .mobile_title_font {
    font-size: 35px;
  }
}
