[data-theme='night'] .NIGHT {
  background-color: rgb(255, 68, 0) !important;
  color: #fff !important;
}

[data-theme='night'] .BLBL {
  color: rgb(255, 183, 0) !important;
}

[data-theme='night'] .BLB {
  color: #000 !important;
}

[data-theme='night'] .BL {
  color: #000 !important;
  background-color: yellow;
  font-weight: bold;
}

[data-theme='night'] .WHWH {
  background-color: #fff !important;
}

@media (width <=500px) {
  .mobile_conformation {
    display: block !important;
  }

  .mobile_title_font {
    font-size: 35px;
  }
}
