/* mag glass */

.search {
  background: url('../svg/search-solid-black.svg') no-repeat 7px;
  background-size: 15.7px;
  margin: 10px;
  margin-right: 10px;
  background-color: azure;
  border-radius: 0.5rem;
  padding: 5px;
}

[data-theme='night'] .search {
  background: url('../svg/search-solid.svg') no-repeat 7px;
  background-size: 15.7px;
  margin: 10px;
  margin-right: 10px;
  background-color: azure;
  border-radius: 0.5rem;
  padding: 5px;
}

.inputTop {
  border-radius: 0.3rem;
  border: 0;
  background-color: hwb(35deg 0% 0%);
  padding: 5px;
  color: red;
  text-indent: 24px;
}

input::placeholder {
  color: #fff !important;
}

[data-theme='night'] .inputTop {
  background-color: rgb(35, 33, 33);
  color: yellow;
}

[data-theme='night'] .inputTop::placeholder {
  color: yellow !important;
}

[data-theme='night'] .night {
  color: #fff !important;
}

[data-theme='night'] .DM {
  background-color: black !important;
  color: #fff !important;
}

[data-theme='night'] .HME {
  color: #ff7b00 !important;
}

[data-theme='night'] .WHITE_ANIM {
  background: yellow !important;
  border-radius: 50%;
}
