.select_field_styling {
  padding: 10px 12px;

  /* margin: 0 !important; */
  width: 100%;
  cursor: pointer;

  /* appearance: inherit; */
  transform: translateY(-100%);
}

option {
  text-align: left;
}

.rad {
  background-color: #333;
  color: #fff;
  width: 24px;
  font-size: 14px;
  height: 24px;
  border-radius: 50%;
}

[data-theme='night'] .select_field_styling {
  background-color: rgb(201, 197, 197);
  color: #000;
  font-weight: bold;
}

[data-theme='night'] .DARK {
  color: #000;
}

[data-theme='night'] .DRYL {
  background: yellow !important;
}

[data-theme='retro'] .TEXT_BACKGROUND {
  color: #000 !important;
}

[data-theme='night'] .BTN_NIGHT {
  background-color: #fff !important;
}

[data-theme='retro'] .WH {
  color: #fff !important;
}

/* RESPONSIVE QUERIES */

@media (width <=500px) {
  .centered_functionallity_router {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .mobile_hide {
    display: none !important;
  }

  .mobile_drinks_section {
    display: block !important;
    margin: auto;
  }

  .img_mobile {
    margin: auto !important;
  }

  .img_mobile p {
    margin: 10px;
  }
}
