.select_field_styling {
  padding: 10px 12px;

  /* margin: 0 !important; */
  width: 100%;
  cursor: pointer;

  /* appearance: inherit; */
  transform: translateY(-100%);
}

option {
  text-align: left;
}

.rad {
  background-color: #333;
  color: #fff;
  width: 24px;
  font-size: 14px;
  height: 24px;
  border-radius: 50%;
}

[data-theme='night'] .select_field_styling {
  background-color: rgb(201, 197, 197);
  color: #000;
  font-weight: bold;
}

[data-theme='night'] .DARK {
  color: #000;
}

[data-theme='night'] .DRYL {
  background: yellow !important;
}

[data-theme='retro'] .TEXT_BACKGROUND {
  color: #000 !important;
}
